<div class="card" style="width: 9rem;">
  <img class="card-img-top card-image-small" src="<%=destination.picture_url%>" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-title"><%=destination.name[0..10]%></h6>
  </div>
</div>
